@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-alata);
  --font-mono: var(--font-actor);
  
  --color-primary: #051A3D;
  --color-gold: #E5B53A;
  --color-burgundy: #350405;
  --color-black: #051A3D;
  --color-white: #FFFFFF;
  --color-muted: rgba(255,255,255,0.65);
  --color-border-custom: rgba(210,155,45,0.22);
}

:root {
  --background: #051A3D;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #051A3D;
}

::-webkit-scrollbar-thumb {
  background: #350405;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D29B2D;
}

/* Base utility classes */
@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  .clip-path-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}


body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-alata), sans-serif !important;
}